@* "~/adminweb/" ekledik. *@
<div class="nav-header">
    <a asp-controller="Dashboard" asp-action="Index">
        <b class="logo-abbr"><img width="65px" height="80px" src="~/adminweb/images/HotelierLogoKucuk.png" alt=""> </b>
        <span class="logo-compact"><img src="~/adminweb/images/HotelierLogo.png" alt=""></span>
        <span class="brand-title">
            <img width="245px" height="80px" src="~/adminweb/images/HotelierLogo.png" alt="">
        </span>
    </a>
</div>

