@model List<InboxContactDTO>

@{
    ViewData["Title"] = "GetContactsInCategoryJobApplication";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="email-left-box">
                        <a asp-controller="AdminContact" asp-action="AddSendMessage" class="btn btn-primary btn-block">Yeni Mesaj Oluştur</a>
                        @await Component.InvokeAsync("AdminContactSidebar")

                        @await Html.PartialAsync("/Views/AdminContact/AdminContactCategorySidebarPartial.cshtml")
                    </div>
                    <div class="email-right-box">
                        <div class="email-list m-t-15">
                            @foreach (var item in Model)
                            {
                                <div class="message">
                                    <a asp-controller="AdminContact" asp-action="InboxMessageDetails" asp-route-id="@item.ContactID">
                                        <div class="col-mail col-mail-2">
                                            <div class="subject">
                                                <b>Gönderici: @item.Name</b> Konu: @item.Subject
                                            </div>
                                            <div class="date">@item.Date.ToShortDateString()</div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>