@model AddNewUserDTO

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Otel Kullanıcı Kayıt Paneli</title>
    <!-- Favicon icon -->                             @* "~/adminweb/" eklemeyi UNUTMA!!!!! *@
    <link rel="icon" type="image/png" sizes="16x16" href="~/adminweb/assets/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/adminweb/css/style.css" rel="stylesheet">
            @* "~/adminweb/" eklemeyi UNUTMA!!!!! *@

    <style>
        body{
            margin: 0;
            padding: 0;
            background-image: url('/hotel-html-template/img/RegisterPageImage.png');
            background-size: cover;
            background-position: top;
        }
    </style>
</head>

<body class="h-100">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-end h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">

                                <a class="text-center" asp-controller="Register" asp-action="Index"> <h4>Otel Kullanıcı Kayıt Paneli</h4></a>

                                <form class="mt-3 mb-3 login-input" asp-controller="Register" asp-action="Index" method="post">
                                    <div class="form-group">
                                        <input asp-for=Name type="text" class="form-control" placeholder="İsim">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for=Surname type="text" class="form-control" placeholder="Soyisim">
                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for=Username type="text" class="form-control" placeholder="Kullanıcı Adı">
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" asp-for="Mail">
                                        <span asp-validation-for="Mail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input asp-for=Gender class="form-check-input" type="radio" value="Kadın">
                                            <label class="form-check-label">Kadın</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input asp-for=Gender class="form-check-input" type="radio" value="Erkek">
                                            <label class="form-check-label">Erkek</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select asp-for=Country id="country" class="form-control">
                                            <option value="0">Ülke Seçiniz</option>
                                            <option value="Türkiye">Türkiye</option>
                                            <option value="İngiltere">İngiltere</option>
                                            <option value="İspanya">İspanya</option>
                                            <option value="İtalya">İtalya</option>
                                            <option value="Almanya">Almanya</option>
                                            <option value="Fransa">Fransa</option>
                                            <option value="Diğer">Diğer</option>
                                        </select>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <select asp-for=City id="city" class="form-control">
                                            <option value="0">Şehir Seçiniz</option>
                                        </select>
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.DropDownListFor(
                                                                x => x.WorkLocationId,
                                                                (List<SelectListItem>)ViewBag.WorkLocationList,
                                                                new {@class="form-control"}
                                                             )
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Şifre" asp-for="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Şifre Tekrarı" asp-for="ConfirmPassword">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Kaydol</button>
                                </form>
                                <p class="mt-3 login-form__footer">Bir hesabınız var mı? <a asp-controller="Login" asp-action="Index"  class="text-primary">Oturum Aç </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    @* script'lerin doğru çalışması için "~/adminweb/" eklemeyi UNUTMA!!!!! *@
    <script src="~/adminweb/plugins/common/common.min.js"></script>
    <script src="~/adminweb/js/custom.min.js"></script>
    <script src="~/adminweb/js/settings.js"></script>
    <script src="~/adminweb/js/gleek.js"></script>
    <script src="~/adminweb/js/styleSwitcher.js"></script>
</body>
</html>

<script>
    var citiesByCountry = {
        Türkiye: ["İstanbul", "Ankara", "İzmir", "Antalya", "Diğer"],
        İngiltere: ["Londra", "Manchester", "Liverpool", "Southampton", "Diğer"],
        İspanya: ["Madrid", "Barcelona", "Sevilla", "Bilbao", "Diğer"],
        İtalya: ["Milano", "Roma", "Floransa", "Napoli", "Diğer"],
        Almanya: ["Münih", "Berlin", "Köln", "Bremen", "Diğer"],
        Fransa: ["Paris", "Lyon", "Marsilya", "Lille", "Diğer"],
        Diğer: ["Diğer"]
    };

    document.getElementById("country").addEventListener("change", function () {
        var country = this.value;
        var citySelect = document.getElementById("city");
        citySelect.innerHTML = "";
        if (country !== "0") {
            var cities = citiesByCountry[country];
            cities.forEach(function (city) {
                var option = document.createElement("option");
                option.text = city;
                option.value = city;
                citySelect.appendChild(option);
            });
        } else {
            var option = document.createElement("option");
            option.text = "Şehir Seçiniz";
            option.value = "0";
            citySelect.appendChild(option);
        }
    });
</script>