@model List<StaffVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title" style="display:flex; justify-content:space-between; align-items:center">
                <h4>Personel Listesi</h4>
                <a asp-controller="Staff" asp-action="AddStaff" type="submit" class="btn mb-1 btn-rounded btn-outline-primary">Yeni Personel Ekle</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Ünvan</th>
                            <th>Detaylar</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Title</td>
                                <td>
                                    <button type="button" class="btn mb-1 btn-rounded btn-outline-success">Detaylar</button>
                                </td>
                                <td>
                                    <a asp-controller="Staff" asp-action="UpdateStaff" asp-route-id="@item.StaffID" type="button" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a>
                                </td>
                                <td>
                                    <a asp-controller="Staff" asp-action="DeleteStaff" asp-route-id="@item.StaffID" type="submit" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>