@model UpdateStaffVM

@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form asp-controller="Staff" asp-action="UpdateStaff" method="post" enctype="multipart/form-data">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Personeli Güncelle</h4>
                <div class="basic-form">
                    <form>
                        <input type="hidden" asp-for="StaffID">
                        <div class="form-group row">
                            <label asp-for=Image class="col-sm-2 col-form-label"> Mevcut Resim:</label>
                            <div class="col-sm-10">
                                <img class="img-fluid" width="300px" height="300px" style="border-radius: 5%" src="@Model.Image" alt="@Model.Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for=Photo class="col-sm-2 col-form-label">Profil Resmi:</label>
                            <div class="col-sm-10">
                                <input asp-for=Photo type="file" class="form-control input-rounded" placeholder="Profil Resmi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for=Name class="col-sm-2 col-form-label">Ad Soyad:</label>
                            <div class="col-sm-10">
                                <input asp-for=Name type="text" class="form-control input-rounded" placeholder="Ad Soyad">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for=Title class="col-sm-2 col-form-label">Ünvan:</label>
                            <div class="col-sm-10">
                                <input asp-for=Title type="text" class="form-control input-rounded" placeholder="Ünvan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for=SocialMedia1 class="col-sm-2 col-form-label">Sosyal Medya 1:</label>
                            <div class="col-sm-10">
                                <input asp-for=SocialMedia1 type="text" class="form-control input-rounded" placeholder="Sosyal Medya 1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for=SocialMedia2 class="col-sm-2 col-form-label">Sosyal Medya 2:</label>
                            <div class="col-sm-10">
                                <input asp-for=SocialMedia2 type="text" class="form-control input-rounded" placeholder="Sosyal Medya 2">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for=SocialMedia3 class="col-sm-2 col-form-label">Sosyal Medya 3:</label>
                            <div class="col-sm-10">
                                <input asp-for=SocialMedia3 type="text" class="form-control input-rounded" placeholder="Sosyal Medya 3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn mb-1 btn-rounded btn-outline-info">Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>